---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto - Refugio ElTuc">
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="text-center mb-12">
      <h1 class="text-4xl font-bold text-gray-900 mb-4">Contacto</h1>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">Yo soy contacto</p>
    </div>
  </main>
</Layout>
