---
import Layout from "../layouts/Layout.astro";
import Prueba from "../components/Prueba.astro";
---

<Layout title="Quiénes Somos - Refugio ElTuc">
  <Prueba />

  <div class="container mx-auto py-8 px-4 text-center">
    <h2 class="text-2xl font-bold mb-6">Explora nuestro refugio</h2>
    <div class="flex flex-wrap gap-4 justify-center">
      
      <a
        href="/adopta"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg"
      >
        Ver animales en adopción
      </a>
    </div>
  </div>
</Layout>
